/*
Dark blue color: #---
 */

/* ----------------------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
/* ----- PARAGRAPHS ----- */
/* ----- ICONS ----- */
/* ----- LINKS ----- */
/* ----- BUTTONS ----- */

/* ----------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------- */
