/*
Dark blue color: #203b61
Light blue color: #678198
Light grey: #f0e9d9
Sand: #edd8b9
Darker grey: #ccc9c4
 */

/* ----------------------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.flexbox {
  display: flex;
}

/*div {*/
/*  border: 1px dotted red;*/
/*}*/

/* ----------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 70px 0;
}

.box {
  padding: 1%;
}

.page-copy {
  margin: 0 auto 0 auto;
  width: 96%;
  max-width: 700px;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3,
h4{
  margin: 0;
  line-height: 120%;
}

h1 {
  margin-bottom: 35px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: 100;
}

h2 {
  text-align: center;
  font-size: 180%;
  word-spacing: 4px;
  font-weight: 300;
  margin-bottom: 30px;
}

h3 {
  color: #333;
  font-size: 120%;
}

h4 {
  color: #777;
  font-size: 70%;
  word-spacing: 4px;
  letter-spacing: 1px;
  padding: 10px 0 25px 0;
  font-weight: 400;
}
h5 {
  margin: 10px 0;
  color: #E6AD0A;
  font-size: 80%;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h6 {
  color: #E6AD0A;
  font-size: 80%;
  margin: 10px 0;
  word-spacing: 3px;
}

/* ----- PARAGRAPHS ----- */

p {
  line-height: 140%;
}
/* ----- ICONS ----- */
/* ----- HEXAGONS ----- */

.hexagon {
  position:relative;
  display: block;
  margin-bottom: 15px;
}

.hexagon img {
  height: 70px;
  width: auto;
}

.hexagon ion-icon {
  font-size: 32px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #284b7b;
}
/* ----- LINKS ----- */
a:link,
a:visited {
  color: #203B60;
}
a:hover,
a:active {
  color: #c78f0a;
}

.hero__social-icons a:link,
.hero__social-icons a:visited,
.logo-row a:link,
.logo-row a:visited,
nav div a:link,
nav div a:visited {
  color: white;
  text-decoration: none;
}

.hero__social-icons a:hover,
.hero__social-icons a:active,
.logo-row a:active,
nav div a:active {
  color: #c78f0a;
}

  /* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit]{
  display: inline-block;
  padding: 15px 30px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #2a7dad;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  font-size: 80%;
  letter-spacing: 1px;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
  background-color: #dba30a;
  border: 1px solid #dba30a;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #fff;
  border: 1px solid #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #c78f0a;
}

.btn-full:hover,
.btn-full:active {
  border-color: #c78f0a;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #c78f0a;
  color: #fff;
}

/* ----------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------- */
/* Landing header */
header {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/db8eidwqd/image/upload/c_scale,h_1600/v1584555699/splash-banner.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: #f7f7f7;
  position: relative;
  min-height: 600px;
  margin: 2%;
}

.logo {
  height: 30px;
  width: auto;
  float: left;
}

.wordmark {
  color: #fff;
  display: inline-block;
  font-size: 140%;
  padding-left: 7px;
  padding-top: 0.05rem;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 1% 0;
}

nav .row {
  width: 70%;
}

.hero-text-box {
  position: absolute;
  padding: 2%;
  width: 74%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__social-icons {
  float: right;
  font-size: 150%;
  position: absolute;
  top: 25%;
  right: 3%;
}

.hero__social-icons div:nth-child(1),
.hero__social-icons div:nth-child(2){
  padding-bottom: 15px;
}

.hero__long-copy {
  margin-bottom: 40px;
}

.hero__scroll {
  padding: 0 15px;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.hero__scroll a {
  color: #fff;
  font-size: 80%;
  font-weight: 300;
  text-decoration: none;
}

.chevron {
  color: #fff;
  font-size: 150%;
}

.hero__scroll a:hover {
  background-color: rgba(255,255,255,0.3);
}

/* Main navigation */
.main-nav {
  float: right;
  list-style: none;
  line-height: 150%;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #c78f0a;
}

/* White header */
.header--white {
  background-image: none;
  height: 55px;
  color: #555;
  min-height: 55px;
  margin: 0;
}

.header--white .wordmark {
  color: #555;
}

.header--white nav {
  box-shadow: 0 15px 15px -15px #e2e2e2;
}

.header--white nav div {
  margin: 0 auto 0 auto;
  max-width: 1140px;
  width: 96%;
}

.header--white nav div ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
/* Main navigation */
.header--white .main-nav li a:link,
.header--white .main-nav li a:visited {
  color: #555;
}

/* ----------------------------------------------------------- */
/* SERVICES SECTION */
/* ----------------------------------------------------------- */

.section-services {
   text-align: center;
   padding: 60px 15%;
 }

.section-services .row {
  margin-bottom: 3%;
}

.services__card {
  padding: 1% 3%;
  display: block;
  float: left;
  width: 33.3%;
  margin: 0;
}

.section-services p {
  font-size: 90%;
  line-height: 145%;
  padding-top: 15px;
}

.section-services .last {
  margin-bottom: 0;
}

/* ----------------------------------------------------------- */
/* HIGHLIGHT SECTION */
/* ----------------------------------------------------------- */

.section-highlight {
  background-color: #f3f3f3;
  padding: 0;
  position: relative;
  margin: 0 2%;
  max-height: 500px;
}

.section-highlight .row {
  margin-right: 0;
}

.section-highlight h2 {
  text-align: start;
  margin-bottom: 0;
}

.highlight__image {
  margin: 0;
  float: right;
  line-height: 0;
  background-image: url(https://res.cloudinary.com/db8eidwqd/image/upload/c_scale,w_720/v1583984463/office.jpg);
  background-size: cover;
  background-position: 50% 70%;
  height: 60vh;
  max-height: 500px;
}

.highlight__text {
  padding: 40px 7% 40px 6%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translate(-50%, -50%);
  line-height: 150%;
  max-width: 600px;
}

/* ----------------------------------------------------------- */
/* TEAM SECTION */
/* ----------------------------------------------------------- */

.section-team div h2 {
  padding-bottom: 20px;
}

.hex-profile-photo {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 300px;
  width: 280px;
  float: right;
  margin: 0 70px 0 0;
}

.photo2 {
  float: left;
  margin: 0 0 0 70px;
}

.section-team__text {
  padding: 0 70px;
}

.section-team__profile1 p,
.section-team__profile2 p{
  padding: 20px 0;
}

.section-team__profile1 h6,
.section-team__profile2 h6 {
  margin-bottom: 0;
}

.section-team__profile2 {
  margin-top: 80px;
}

.section-team__text--profile1 {
  margin-top: 20px;
}

.section-team__text--profile2 {
  margin: 20px 0;
}

.section-team__text--profile2 {
  text-align: right;
}

.team__social-icons {
  font-size: 150%;
}

/* ----------------------------------------------------------- */
/* PORTFOLIO SECTION */
/* ----------------------------------------------------------- */

.section-portfolio {
  align-items: stretch;
  margin: 2%;
  padding: 0;
}

.box-image-1 {
  margin-bottom: 15px;
}

.box-image-2 {
  margin: 1% 0 1% 1.6%;
}

.box-image-3 {
  margin-bottom: 15px;
}

.box-image-4 {
  margin: 0;
}

.box-text {
  flex-grow: 1;
  background-color: #555555;
  color: white;
  padding: 15%;
  text-align: right;
}

.box-text p {
  color: #cdcdcd;
  font-size: 90%;
}

.box-text h2 {
  text-align: right;
  padding-top: 0;
}

.portfolio-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  line-height: 0;
}

.portfolio-photo img {
  opacity: 0.95;
  width:100%;
  height: auto;
  transition: opacity 0.5s;
}

.portfolio-photo--stretch {
  height: 100%;
}

.portfolio-photo--stretch img {
  height: 100%;
}

.portfolio-photo img:hover {
  opacity: 1;
}

.section-portfolio .flexbox {
  flex-direction: column;
}

/* ----------------------------------------------------------- */
/* PROCESS SECTION */
/* ----------------------------------------------------------- */

.section-process {
  position: relative;
  padding: 0;
  text-align: center;
}

.process__foreground {
   position: relative;
   z-index: 1;
   margin: auto;
   width: 70%;
 }

/* Process S line */
.process__background {
  position: absolute;
  z-index: auto;
  width: 100%;
  height: 90%;
  list-style: none;
  padding:0 10%;
}

.process__background ul {
  margin: 50px 0 0 0;
}

.process__background ul li {
  display: block;
  float: left;
  width: 25%;
  border: 2px solid #555;
  height: 350px;
}
.process__background ul li:nth-child(1),
.process__background ul li:nth-child(9) {
  border: none;
}

.process__background ul li:nth-child(1),
.process__background ul li:nth-child(2),
.process__background ul li:nth-child(3),
.process__background ul li:nth-child(4),
.process__background ul li:nth-child(5) {
  width: 20%;
}

.process__background ul li:nth-child(2),
.process__background ul li:nth-child(3),
.process__background ul li:nth-child(8) {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.process__background ul li:nth-child(5) {
  border-radius: 0 50px 50px 0;
  border-left: none;
}
.process__background ul li:nth-child(6) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}
.process__background ul li:nth-child(7),
.process__background ul li:nth-child(4) {
  border-left: none;
  border-right: none;
}

.process__background ul li:nth-child(8),
.process__background ul li:nth-child(6),
.process__background ul li:nth-child(7) {
  margin-top: -2px;
}

/* Process text content */
.process__step {
  margin: 0 0 20px 0;
  width: 33.3%;
  height: 326px;
  float: left;
  display: block;
  line-height: 125%;
  padding: 17px 3% 10px 3%;
}

.process__step p {
  padding-top: 10px;
  font-size: 90%;
}

.process__step:nth-of-type(1),
.process__step:nth-of-type(4) {
  padding-left: 0;
}

.process__step:nth-of-type(3),
.process__step:nth-of-type(6) {
  padding-right: 0;
}

.process__step:nth-of-type(2),
.process__step:nth-of-type(5),
.process__step:nth-of-type(7) {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.process__step.iteration {
  border: 1px solid #E6AD0A;
  padding: 17px;
  width: 30%;
  margin-left: 3.3%;
  height: auto;
}

.process__step.iteration .hexagon ion-icon {
  color: #E6AD0A;
}

/* ----------------------------------------------------------- */
/* CONTACT US SECTION */
/* ----------------------------------------------------------- */
.section-contact {
  background-image:  linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/db8eidwqd/image/upload/c_scale,w_1600/v1584567048/white-clouds.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  width: 96%;
  margin: 80px 2% 0 2%;
  position: relative;
}

/* Contact form */
.contact__card {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 500px;
  background-color: #f3f3f3;
  border: 1px solid #787878;
  padding: 40px 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
}

.contact-form h2 {
  text-align: left;
  margin-bottom: 20px;
  line-height: 100%;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 90%;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  font-size: 85%;
  font-weight: 300;
  padding: 5px;
  resize: none;
}

.contact-form textarea {
  height: 100px;
}
.contact-form div a.btn-full {
  float: right;
  margin-right: 0;
}
/* ----------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------- */
footer {
  background-color: #203B60;
  color: #b5b5b5;
  padding-top: 100px;
  margin: 0 2% 2% 2%;
}

.wordmark--footer {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 140%;
  padding-left: 7px;
  padding-top: 0.05rem;
}

.logo-row {
  padding: 5px 0 10px 0;
}

.footer__copy {
  font-size: 80%;
  line-height: 140%;
  text-align: right;
}

.footer__scroll {
  padding: 10px 15px 20px 15px;
  text-align: center;
  display: block;
  border-top: 1px solid #535353;
  margin-top: 60px;
}

.footer__scroll a {
  color: #fff;
  font-size: 80%;
  font-weight: 300;
  text-decoration: none;
}

footer .flexbox {
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15%;
}

/* Footer nav */
.footer__nav,
.footer__logo-blurb {
  padding: 0;
}

.footer__logo-blurb {
  max-width: 35%;
}

.footer__nav li {
  list-style: none;
  font-size: 80%;
}

.footer__nav li a:link,
.footer__nav li a:visited {
  color: #ebebeb;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  line-height: 200%;
  padding-bottom: 5px;
}

.footer__nav li a:hover,
.footer__nav li a:active {
  border-bottom: 2px solid #c78f0a;
}

/* ----------------------------------------------------------- */
/* LEGAL PAGES: TERMS, CONDITIONS, PRIVACY POLICY */
/* ----------------------------------------------------------- */
.legal {
  margin: 3rem auto 4rem auto;
}

.legal h1 {
  color: #555555;
  margin-top: 3rem;
  text-align: center;
}

.legal h2 {
  margin-top: 3rem;
  text-align: left;
}

.legal h3 {
  color: #E6AD0A;
  padding: 1rem;
  margin-top: 1rem;
  padding-left: 0;
}

.legal h4 {
  color: #555555;
  font-size: 90%;
}

.legal h6 {
  text-align: right;
  color: #797979;
}

.legal ul {
  margin-left: 3rem;
}

.legal p,
.legal li {
  font-size: 90%;
  margin-bottom: 0.7rem;
}

