/* ---------------------- Screen width 948 to 1185 ---------------------- */
@media only screen and (max-width: 1185px) {
  body {font-size: 18px}
  .row {width: 100%;}
  section {padding: 50px 0}
  nav .row {
    width: 90%;
  }
  .hero-text-box {
    position: absolute;
    padding: 2%;
    width: 94%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    font-size: 220%;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 170%;
    word-spacing: 4px;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 100%;
  }

  /* SERVICES SECTION */
  .section-services {
    padding: 50px 5%;
  }
  .services__card {
    padding: 1% 2%;
  }
  .section-services p {
    font-size: 95%;
    padding-top: 10px;
  }

  /* TEAM SECTION */
  .hex-profile-photo {
    margin: 0 50px 0 0;
  }
  .photo2 {
    float: left;
    margin: 0 0 0 50px;
  }
  .section-team__text {
    padding: 0 50px;
  }
  .section-team__profile2 {
    margin-top: 60px;
  }

  /* PORTFOLIO SECTION */
  .section-portfolio {
    margin: 0 2%;
  }

  /* FOOTER SECTION */
  footer .flexbox {
    padding: 0 5%;
  }
}


/* ---------------------- Screen width 768px to 947px ---------------------- */
@media only screen and (max-width: 947px) {
  h5 {
    margin: 5px 0;
  }
  .highlight__image {
    width: 40%;
  }
  .highlight__text {
    padding: 40px 7% 40px 6%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    line-height: 150%;
    max-width: 600px;
    width: 60%;
  }
  /* TEAM SECTION */
  .hex-profile-photo {
    margin: 0 30px 0 0;
  }
  .photo2 {
    float: left;
    margin: 0 0 0 30px;
  }
  .section-team__text {
    padding: 0 40px;
  }
  .section-team__profile2 {
    margin-top: 30px;
  }
  /* PORTFOLIO SECTION */
  .section-portfolio {
    align-items: stretch;
    flex-wrap: wrap;
  }
  .box-image-1 {
    width: 100%;
    line-height: 0;
    margin: 0 15px 0 0;
  }
  .box-image-2 {
    width: calc(50% - 15px);
    margin: 0 15px 0 0;
  }
  .section-portfolio .span-3-of-10:last-of-type {
    width: 50%;
    margin: 0;
  }
  .box-text {
    padding: 7% 5%;
    text-align: left;
  }
  .box-text h2 {
    text-align: left;
    margin-bottom: 15px;
  }
  .section-portfolio .flexbox {
    flex-direction: row;
    width: 100%;
  }
  /* CONTACT SECTION */
  .contact__card {
    left: 60%;
}
  .main-nav {
    line-height: 200%;
  }
  .wordmark {
    padding-top: 0.15rem;
  }


/* ---------------------- Screen width 480px to 768px ---------------------- */
@media only screen and (max-width: 768px) {
  body {font-size: 16px}
  .row {width: 100%;}
  section {padding: 30px 0}
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  nav .row {
    width: 100%;
  }
  h1 {
    font-size: 180%;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 160%;
    word-spacing: 2px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 120%;
  }
  /* HEADER SECTION */
  header {
    height: 70vh;
    margin: 0;
  }
  nav .row {
    width: 92%;
  }
  .hero-text-box {
    width: 92%;
    margin: auto;
    padding: 0;
  }
  .hero-text-box col {
  }
  .hero__social-icons {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 4%;
  }
  .hero__social-icons div {
    display: inline-block;
    padding-right: 15px;
  }
  .hero__long-copy {
    margin-bottom: 30px;
  }
  .main-nav {
    line-height: 200%;
  }
  .main-nav li {
    margin-left: 2%;
  }
  .wordmark {
    padding-top: 0.48rem;
    font-size: 110%;
  }
  /* SERVICES SECTION */
  .section-services {
    text-align: left;
    padding: 60px 4%;
  }
  .section-services .row {
    margin-bottom: 0;
  }
  .section-services .hexagon {
    display: block;
    float: left;
    margin-right: 30px;
  }
  .section-services p {
    display: inline-block;
    width: calc(100% - 93px);
    padding-top: 5px;
  }
  .services__card {
    padding: 0;
    display: block;
    width: 90%;
    float: none;
    margin: auto auto 7% auto;
  }


  /* HEADER SECTION */
  /* HEADER SECTION */
  /* HEADER SECTION */




}

/* ---------------------- Screen width 0px to 479px ---------------------- */
.wordmark {
  padding-top: 0.4rem;
}
.main-nav li {
  margin-left: 0.4rem;
}
